/*!
Theme Name: Auria
Theme URI: https://mustard.Agency
Author: Tony Oz
Author URI:
Description: "WP Bootstrap 4" is a simple & easy to use WordPress theme. It is based on world's most popular framework for responsive websites, Twitter Bootstrap 4. "WP Bootstrap 4" is a perfect combination of Bootstrap 4 and WordPress. It is fast and light-weight with around 20 kb style.css. It is also search engine friendly. It has a built-in slider for featured posts on blog's home page. It supports all major & popular WordPress plugins like Jetpack, Contact Form 7, Elementor, Beaver Builder, SiteOrigin Page Builder etc. Check demo on https://bootstrap-wp.com
Version: 1.0.7
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: wp-bootstrap-4
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready, two-columns, left-sidebar, right-sidebar, custom-colors, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, blog

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

WP Bootstrap 4 is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/
body { background-color: #fff;
font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 25px;
 }

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100%; /* Adhere to container width. */ }

figure { margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */ }

table { margin: 0 0 1.5em; width: 100%; }

/* Text meant only for screen readers. */
.screen-reader-text { border: 0; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; -webkit-clip-path: none; clip-path: none; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

.widget { margin: 0 0 1.5em; /* Make sure select elements fit in widgets. */ }

.widget select { max-width: 100%; }

.sticky { display: block; }

.hentry { margin: 0 0 1.5em; }

.updated:not(.published) { display: none; }

.page-content, .entry-content, .entry-summary { margin: 1.5em 0 0; }

.page-links { clear: both; margin: 0 0 1.5em; }

.comment-content a { word-wrap: break-word; }

.bypostauthor { display: block; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */ display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link { display: inline-block; }

.wp-caption { margin-bottom: 1.5em; max-width: 100%; }

.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

.wp-caption-text { text-align: center; }



/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
body { -ms-word-wrap: break-word; word-wrap: break-word; -webkit-font-smoothing: auto; text-rendering: optimizeLegibility !important; -moz-osx-font-smoothing: grayscale; font-smoothing: auto; }

a, button, input { -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

blockquote { font-size: 1.25rem; padding: 1.25rem 1.75rem; }

table { width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent; }

table th, table td { padding: 0.75rem; vertical-align: top; border-top: 1px solid #dee2e6; }

table thead th { vertical-align: bottom; border-bottom: 2px solid #dee2e6; }

table tbody + tbody { border-top: 2px solid #dee2e6; }

table table { background-color: #fff; }

figcaption { padding-top: 0; padding-bottom: .75rem; color: #6c757d; text-align: left; }

input[type="button"], input[type="reset"], input[type="submit"] { display: inline-block; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; line-height: 1.5; border-radius: 0.25rem; -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; padding: 0.5rem 1.25rem; color: #fff; background-color: #007bff; border-color: #007bff; }

input[type="button"]:active, input[type="button"]:hover, input[type="reset"]:active, input[type="reset"]:hover, input[type="submit"]:active, input[type="submit"]:hover { color: #fff; background-color: #0062cc; border-color: #005cbf; cursor: pointer; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.25rem; -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: #495057; background-color: #fff; border-color: #80bdff; outline: 0; -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

input[type="text"]:-webkit-input-placeholder, input[type="text"]:-moz-placeholder, input[type="text"]:-ms-input-placeholder, input[type="email"]:-webkit-input-placeholder, input[type="email"]:-moz-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-webkit-input-placeholder, input[type="url"]:-moz-placeholder, input[type="url"]:-ms-input-placeholder, input[type="password"]:-webkit-input-placeholder, input[type="password"]:-moz-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-webkit-input-placeholder, input[type="search"]:-moz-placeholder, input[type="search"]:-ms-input-placeholder, input[type="number"]:-webkit-input-placeholder, input[type="number"]:-moz-placeholder, input[type="number"]:-ms-input-placeholder, input[type="tel"]:-webkit-input-placeholder, input[type="tel"]:-moz-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="range"]:-webkit-input-placeholder, input[type="range"]:-moz-placeholder, input[type="range"]:-ms-input-placeholder, input[type="date"]:-webkit-input-placeholder, input[type="date"]:-moz-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-webkit-input-placeholder, input[type="month"]:-moz-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-webkit-input-placeholder, input[type="week"]:-moz-placeholder, input[type="week"]:-ms-input-placeholder, input[type="time"]:-webkit-input-placeholder, input[type="time"]:-moz-placeholder, input[type="time"]:-ms-input-placeholder, input[type="datetime"]:-webkit-input-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-webkit-input-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="color"]:-webkit-input-placeholder, input[type="color"]:-moz-placeholder, input[type="color"]:-ms-input-placeholder, textarea:-webkit-input-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder { color: #6c757d; opacity: 1; }

select { height: calc(2.25rem + 2px); display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

blockquote { font-style: italic; font-size: 1.15rem; border-left: 3px solid rgba(33, 37, 41, 0.25); padding: 0.5rem 1.75rem; background: rgba(33, 37, 41, 0.05); }

blockquote p { font-size: 1.15rem; }

blockquote p:last-child { margin-bottom: 0; }

.navbar-dark .navbar-nav .dropdown-menu a { display: block; width: 100%; padding: .25rem 1.5rem; clear: both; font-weight: 400; color: #212529; text-align: inherit; white-space: nowrap; background-color: transparent; border: 0; }

.site-footer { padding-top: 3rem; padding-bottom: 3rem; }

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; text-align: left; width: 50%; }

.post-thumbnail { margin-top: 1.5em; display: inline-block; }

.card-title.entry-title { margin-bottom: .25rem; }

.entry-meta { font-size: .9rem; }

.entry-footer { font-size: .9rem; margin-top: 1rem; }

.comments-link { float: right; margin: 4px 0px 4px 10px; font-size: 90%; padding-top: 0.2em; }

.cat-links .badge, .tags-links .badge { font-size: 90%; font-weight: normal; border: 1px solid rgba(0, 0, 0, 0.125); margin: 4px 10px 4px 0; padding: 0.4em .9em; }

.cat-links a, .tags-links a { color: #6c757d; }

.cat-links a:hover, .tags-links a:hover { text-decoration: none; color: #212529; }

.entry-meta a, .comments-link a, .edit-link a { color: #6c757d; }

.entry-meta a:hover, .comments-link a:hover, .edit-link a:hover { text-decoration: none; color: #007bff; }

.entry-title a:hover { color: #007bff !important; }

.content-area.wp-bp-404 .card-body { padding: 2.5rem 4rem; }

.sidebar-1-area .widget, .footer-widgets .widget { margin-bottom: 0; padding: 2rem; }

.sidebar-1-area .widget ul, .footer-widgets .widget ul { padding-left: 20px; color: #6c757d; margin-bottom: 0; }

.sidebar-1-area .widget ul li, .footer-widgets .widget ul li { padding-top: 3px; padding-bottom: 3px; list-style: square; }

.sidebar-1-area .widget ul li:last-child, .footer-widgets .widget ul li:last-child { padding-bottom: 0; margin-bottom: 0; }

.sidebar-1-area .widget ul li a, .footer-widgets .widget ul li a { color: #6c757d; }

.sidebar-1-area .widget ul li a:hover, .footer-widgets .widget ul li a:hover { color: #212529; text-decoration: none; }

.footer-widgets .widget { padding: 0.5rem; }

#wp-calendar #next { text-align: right; }

#wp-calendar #prev a, #wp-calendar #next a { color: #6c757d; }

#wp-calendar #prev a:hover, #wp-calendar #next a:hover { color: #212529; text-decoration: none; }

#calendar_wrap table th, #calendar_wrap table td { padding: .25rem; }

.hentry.card .card-body { padding: 1.5rem; }

select { height: calc(2.25rem + 2px); display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.entry-title a:hover { text-decoration: none; }

.mt-3r { margin-top: 3rem; }

.wp-bs-4-jumbotron { margin-bottom: 0; }

.wp-bs-4-jumbotron .jumbotron-heading { font-weight: 600; }

.wp-bs-4-jumbotron .container { max-width: 40rem; }



.wp-bp-sticky { position: absolute; top: 0; right: 1rem; }

.single .post-navigation .nav-links a { color: #6c757d; margin-bottom: 2rem; display: inline-block; }

.single .post-navigation .nav-links a:hover { color: #212529; text-decoration: none; }

.navbar { padding: 1rem; }

#wp-bp-posts-slider { border: 1px solid rgba(0, 0, 0, 0.125); }

#wp-bp-posts-slider .carousel-item img { width: auto; height: 400px; -o-object-fit: cover; object-fit: cover; }

#wp-bp-posts-slider .carousel-caption { background: rgba(0, 0, 0, 0.4); width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; padding: 2rem 4rem; }

#wp-bp-posts-slider .carousel-control-prev, #wp-bp-posts-slider .carousel-control-next { width: 10%; }

.custom-logo-link { margin-right: 1rem; }

.site-title a, .navbar-dark .navbar-brand, .site-description { color: #fff; margin-bottom: 0; }

.navbar-brand { font-size: 1.5rem; }

.navbar-dark .navbar-nav .nav-link { color: #fff; opacity: 0.5; }

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { color: #fff; opacity: 0.75; }

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active { color: #fff; opacity: 1; }

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus { color: #fff; }

.navbar-dark .navbar-nav .dropdown-menu .active > .nav-link { color: #212529; }

.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover, .navbar-dark .navbar-nav .dropdown-menu .nav-link:focus { color: #212529; }

.page-template-full-width .site-footer.mt-4, .wb-bp-front-page .site-footer.mt-4 { margin-top: 0 !important; }

.wb-hide-mobile-sidebar .wp-bp-sidebar-width { display: none; }

.navbar-toggler { background-color: #343a40; }

.site-header { border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

body.custom-background .wp-bp-main-content .col-md-8 { background: #f8f9fa; padding: 2rem; border: 1px solid rgba(0, 0, 0, 0.125); }

.site-footer a:hover { text-decoration: none; }

.admin-bar .site-header.sticky-top { top: 32px; }

.wb-bp-front-page .site-header { border-bottom: 0; }

.wb-bp-front-page .wp-bs-4-jumbotron { padding: 0; background-size: cover; background-position: center; background-color: #343a40; border-radius: 0; }

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay { padding: 10rem 2rem; /* background: rgba(#212529, 0.7); */ }

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay .lead { opacity: .75; }

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay .jumbotron-heading { font-weight: 600; font-size: 3rem; margin-bottom: 1rem; }

.wb-bp-front-page .wp-bp-services-section { padding: 4rem 0; }

.wb-bp-front-page .wp-bp-main-content { padding: 4rem 0; }

.wb-bp-front-page .wp-bp-main-content p { font-size: 1.25rem; font-weight: 300; }

.wb-bp-front-page .wp-bp-main-content blockquote { font-size: 1.35rem; }

.wb-bp-front-page .wp-bp-main-content blockquote p { font-size: 1.35rem; }

.wb-bp-front-page .wp-bp-main-content .post-thumbnail { margin-bottom: 1rem; margin-top: 0.5rem; }

.wb-bp-front-page .wp-bp-feat-card-img { -o-object-fit: cover; object-fit: cover; height: 200px; width: 100%; }

.wp-caption .wp-caption-text { font-size: 0.95rem; }

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (min-width: 768px) { .hentry.card .card-body { padding: 2.5rem 4rem; }
  .wb-hide-mobile-sidebar .wp-bp-sidebar-width { display: block; } }



/*--------------------------------------------------------------
# Core Section Styles
--------------------------------------------------------------*/

.shades{
	background: rgba(0,0,0,0.5);
}

.light-shades{
	background: rgba(0,0,0,0.4);
}


[class*="base-xs-landing"] [class*="screen-xs"] {
    background-size: cover;
}

[class*="home-xs-"] [class*="screen-xs"], [class*="base-xs-"] [class*="screen-xs"] {
    display: table-cell;
    vertical-align: middle;
}

[class*="home-xs-"], [class*="base-xs-"] {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: table;
    min-height: 210px;
    position: relative;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.bg-btm{
	background-position: bottom center !important;
}

.bg-top{
	background-position: top center !important;
}

.padding-20 {
    padding: 20px 0;
}
.padding-30 {
    padding: 30px 0;
}
.padding-40 {
    padding: 40px 0;
}
.padding-50 {
    padding: 50px 0;
}
.padding-80 {
    padding: 80px 0;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-30 {
    padding-top: 30px;
}
.padding-top-40 {
    padding-top: 40px;
}
.padding-top-50 {
    padding-top: 50px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.padding-bottom-40 {
    padding-bottom: 40px;
}
.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-bottom-300 {
    padding-bottom: 400px;
}

.padding-left-40{
    padding-left:80px;
}


.full-height{
    min-height: 790px;
    height: 86vh;
}

.mely-top{
	padding-top: 0px;
}

.fixed-bg{
    background-attachment: fixed;
}

.bg-bottom {
    background-position: bottom center;
}

.bg-blue{
	background: #00acac;
}

.bg-grey{
	background: #efefef;
}

.bg-dark-grey{
	background: #2e3035;
}

.bg-mid-grey{
    background: #37393f;
}
.bg-black{
    background: #000;
}
.bg-white{
    background: #fff;
}

.bg-yellow{
	background: #b3971e;
}

.bg-orange{
	background: #f58225;
}

.all-in{
    width: 100%;
    float: left;
}

.text-white{
    color: #fff;
}

.text-white h1{
    color: #fff;
}

/*--------------------------------------------------------------
# Header Styles
--------------------------------------------------------------*/

@media (max-width: 1380px) {
	.menu-wrap ul {
	    margin: 9px auto 0px;
	    padding: 0;
	    list-style: none;
	    display: table;
	    max-width: 536px;
	}
    .mely-top .all-membs .member-ownage {
        height: 310px;
    }
    .mely-top .large-conty.all-membs .member-ownage {
        height: 400px !important;
    }
}

@media (max-width: 1296px) {
	.menu-wrap a {
	    padding: 6px 8px 5px !important;
	}
    #menu-main-menu li a{
         padding: 6px 8px 5px !important;
    }
}

.custo-logo-wrap svg{
    width: 100%;
    float: left;
    height: auto;
}

.custo-logo-wrap img{
    width: 100%;
    max-width: 150px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 0px;
    position: relative;
    padding: 15px 0px 15px 0px;
}

.sticky .custo-logo-wrap img{
	max-width: 140px;
    margin-top: 0px;
    padding: 7px 0px 9px 0px;
}

.sticky{
	 min-height: 62px !important;
	 background: rgba(69,69,69,.8) !important;
     border-bottom: none;
}

.mia-head-wrap{
	width: 100%;
    float: left;
    z-index: 555;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    min-height: 92px;
    background: #454545;
}


#company-section .btn-white {
    color: #fff !important;
}

.toper-menu-unit {
    float: right;
    padding: 0px;
}

.toper-menu-unit a, .toper-menu-unit a:visited, .toper-menu-unit a:active{
	color: #b3971e !important;
}


/*Menu Styles*/

.current-menu-item a:visited, .current_page_item a:visited {
    color: #b3971e !important;
}


.switcher img{
	display:none !important;
}

.switcher .option {
    position: relative;
    z-index: 30;
    padding: 10px;
    line-height: 22px;
    margin-right: 125px;
    float: right;
    margin-top: 25px;
}

.sticky .switcher .option {
	margin-top: 16px !important;
}

.switcher > .selected > a {
    border: none !important;
    background: #fff;
    color: #ADADAD !important;
    padding: 3px 5px;
    background-image: none !important;
    overflow: hidden;
    font-size: 11px;
}
.switcher > .selected {
    background: #FFFFFF none !important;
    position: relative;
    z-index: 46;
    width: 28px;
    overflow: hidden;
}
.switcher{
	overflow: visible !important;
}

.gtranslatey{
    position: absolute;
    margin-top: -21px;
    margin-left: 10px;
}

.switcher .option a.selected {
    background: transparent !important;
}

.switcher .option a:hover {
    background: transparent !important;
}

.menu-wrap ul { 
  margin:3px auto 0px; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 100%;
  max-width: 536px;
  text-align: right;
  float: right;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.top-infos{
	max-width: 100%;
	text-align: right;
	float: left;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 100%;
	margin-bottom: 8px;
}

.sticky .top-infos{
	margin-bottom: 0px;
}

.top-infos ul{
	max-width: 350px;
}

.top-infos ul li, .top-infos ul li a{
	text-transform: unset !important;
	color: #fff;
	font-size: 11px;
	display: inline-block;
	margin-left: 4px;
}

.top-infos ul li a:hover:after{
display: none;
}

.sticky .menu-wrap ul { 
	 margin-top:0px !important;
}

.sticky .toper-menu{
	display: none;
}

.menu-wrap li { 
  display: table-cell; 
  position: relative; 
  padding: 0px;
  font-size: 12px;  
}

.hovereffect .overfowly {
    height: 40% !important;
    margin-top: 97% !important;
    opacity: 1.6 !important;
}

.gform_wrapper textarea, .gform_wrapper input{
	color: #555 !important;
}

.sticky .menu-wrap a {
  color: #fff !important;
}

.menu-wrap a {
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  padding: 6px 4px 5px;
  position: relative;
}

#menu-main-menu li a{
    padding: 6px 0px 5px 14px;
    color: #fff !important;
    text-transform: uppercase;
}

.menu-wrap a:hover {
	color:#fff !important;
}
.menu-wrap a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu-wrap a:hover:after { 
      width: 72%;
    left: 23%;
    color: #fff;
}

.current-menu-item a:after { 
      width: 72% !important;
    left: 27% !important;
    color: #000 !important;
}

.current-menu-item a{
	color: #000 !important;
}

.fotty-menu .menu-main-menu-container, .fotty-social, .foot-copyrite-wrap{
	    font-size: 13px;
}

.fotty-menu .menu-main-menu-container{
	width: 100%;
}

.single-post .site-main .card{
	border: none !important;
}

.menu-main-menu-container{
	width: 100%;
	float: right;
	margin-top: 0px;
	-webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
   max-width: 552px;
    display: inline-block;
}

.sticky .menu-main-menu-container{
	margin-top: 0px;
}

.switcher .selected a:hover{
	background: transparent !important;
	background-image: none !important;
}

.menu-wrap{
    text-align: right;
    float: right;
    width: 100%;
        max-width: 1200px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sticky .menu-wrap{
	 margin-top: 13px;
}

.menu-wrap{
     margin-top: 10px;
}

.tom-dd{
    color: #212529 !important;
}

.tile-descr-small{
    margin-bottom: 0px;
    margin-top: 4px;
    color: #ddd !important;
}
.custo-logo-wrap{
	max-width: 198px;
    float: left;
    margin-top: 0px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sticky .custo-logo-wrap{
	    max-width: 112px;
}
.current-menu-item a, .current_page_item a{
    color: #d14c24;
    font-weight: 400;
}

.home-sider:visited, .home-sider:active{
	color: #fff !important;
}

.current-menu-item  a:hover:after { 
      width: 0px;
    left: 0px;
}
.dark-themey a{
    color: #000;
}

.dark-themey a:hover{
    color: #000;
}

#mainhead .current-menu-item a, #mainhead .current_page_item a{
    color: #d14c24;
    font-weight: 800;
}

#mainhead .menu-item-27{
    border: 2px solid #bc1e1d;
}



.dark-themey a:after {
    background: #b3971e !important;
}

.toper-menu{
	width: 100%;
	float: left;
	margin-top: 12px;
	text-align: right;
	    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/*--------------------------------------------------------------
# Header mobile Styles
--------------------------------------------------------------*/

.menu-liner{
    height: 2px;
    width: 23px;
    background: #333;
    float: right;
}

#lat {
    width: 24px;
}

.menu-liner:nth-child(2){
  margin-top: 5px;
}

.menu-liner:nth-child(3){
  margin-top: 5px;
}

.linery{
    width: 2px;
    height: 106px;
    background: #fff;
    margin: 0 auto;
}




#lat{
    font-size: 34px;
    float: right;
    margin-top: 3px;
    cursor: pointer;
}

.mopi-icon{
    font-size: 60px;
    color: #000;
}

#menuy .current_page_item a {
    color: #b3971e !important;
    background-color: transparent !important;
}

.menuy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0,0,0,.9);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
}
.menuy ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuy ul li {
  transition: 0.6s 0.5s;
  transform: scale(5);
  opacity: 0;
  --distance: 150px;
}
.menuy ul li a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 54px;
}
.menuy ul li:nth-child(1) {
  transform: translateX(var(--distance));
}
.menuy ul li:nth-child(2) {
  transform: translateX(calc(var(--distance)*-1));
}
.menuy ul li:nth-child(3) {
  transform: translateX(var(--distance));
}
.menuy ul li:nth-child(4) {
  transform: translateX(calc(var(--distance)*-1));
}
.menuy ul li:nth-child(5) {
  transform: translateX(var(--distance));
}
.menuy.open {
  opacity: 1;
  visibility: visible;
}
.menuy.open ul li {
  opacity: 1;
  transform: scale(1);
  line-height: 38px;
  text-align: center;
  float: left;
    width: 100%;
}

#close {
  position: absolute;
  top: 2rem;
  right: 1.2rem;
  border: 0;
  color: #fff !important;
  background: none;
  font-size: 30px;
  outline: none !important;
}

.mobi-menu-wrap{
    width: 100%;
    float:left;
    position: relative;
    z-index: 300;
    padding:10px 20px;
}
.mm-brand-wrap{
    width: 200px;
    float: left;
}

@media (min-width: 900px) {
    .mobi-menu-wrap{
        display: none;
    }
}

@media (max-width: 900px) {
	.mobi-menu-wrap {
	    margin-top: 14px !important;
	}
	.mely-top {
	    padding-top: 0px !important;
	}
    .menu-wrap{
        display: none;
    }
    .dark-header-unit {
	    height: 72px !important;
	}
    .bred-crumb-wrap{
    	display: none;
    }
    .gg-banner-blurb {
	    margin-top: 0px !important;
	}
    .custo-logo-wrap img {
	    max-width: 140px !important;
    	margin-top: 20px !important;
	    width: 100%;
	}
	.custo-logo-wrap{
		width: 100%;
	}
	.mia-head-wrap {
	    min-height: 72px !important;
	}
	.toper-menu{
		display: none;
	}
	.custo-logo-wrap img {
	    padding: 0px;
	}

	.sticky .mobi-menu-wrap {
	    margin-top: 8px !important;
	}
	.sticky .custo-logo-wrap img {
	   padding: 2px 0px 0px 0px;
    	max-width: 105px !important;
		margin-top: 16px !important;
	}
	.mia-head-wrap.sticky {
	    min-height: 56px !important;
	}
}


@media (max-width: 1244px) {
	.menu-wrap li {
	    font-size: 12px !important;
	}
	.switcher > .selected {
	    width: 33px !important;
	}


}

@media (min-width: 767px) {
    .no-right-pad{
        padding-right: 0px !important;
    }
}

@media (max-width: 767px) {
	
	.ayye{
		display:none;
	}
	.svg-wrapper a, .svg-wrapper a:hover, .svg-wrapper a:visited, .svg-wrapper a:active, .svg-wrapper a:focus{
		color:#fff !important;
		outline:none !important;
		border:none !important;
	}
	#pack-list-section{
		background-image:none !important;
	}
	.slope-left {
		padding-left: 0px !important;
		padding-top: 30px;
	}
	.mi-grapes {
		margin-bottom: 18px;
	}
	.features .v-tabs a.v-tab-head {
		float: left;
		width: 100%;
	}

	#home-join-section{
		text-align: center;
	}
	.cc-img{
		display: none;
	}
	.las-wetu{
		max-width: 500px;
		margin:0 auto;
	}
	.pdt-listing-unit {
	    float: left;    
	    width: 47% !important;
	     margin-right: 2% !important;
	}
	.pdt-listing-unit:nth-child(2n) {
	    margin-right: 0px !important;
	}
	.home-pdt-listing .pdt-listing-unit:nth-child(3n) {
	    width: 47% !important;
	    margin-right: 2% !important;
	}

	.pdt-list-btn-titl {
	    width: 100% !important;
	    padding: 0px 5px 20px;
	    float: left;
	    font-size: 14px;
	    font-weight: 300;
	    position: relative !important;
	    margin-top: 0px !important;
	    display: block !important;
	    background: #EDEDED !important;
	    color: #3B3B3B !important;
	}
	.pdt-list-btn-titl:nth-child(3n) {
	    width: 100% !important;
	}
	#home-pdt-section .pdt-list-btn-titl svg path{
		fill:#333 !important;
	}
	.pdt-listing-unit:nth-child(2n) .pdt-list-btn-title {
	    background: #EDEDED !important;
	}
	.pdt-list-btn-titl a{
		color: #3B3B3B !important;
	}
	.slide-pic {
	    float: left;
	    width: 25%;
	    position: absolute;
	    bottom: -1px;
	    display: none;
	}
	.slide-blurb {
	    width: 100%;
	}
	.single-career .app-doll-wrapper {
	    float: left;
	    width: 100%;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.single-career .app-doll-list {
	    min-height: auto !important;
	    padding-bottom: 0px !important;
	    background: #fff !important;
	}
	.single-career .app-doll-block{
		    padding-bottom: 15px !important;
	}
}


@media (min-width: 767px) {
.rich-picy{
 display: none;
}
}

.rich-picy{
	width: 100%;
	text-align: center;
}

.rich-picy img{
	max-width: 160px;
	width: 100%;
	border-radius: 50%;
    margin-top: 10px;
}


/*Submenu*/

.menu-main-menu-container .sub-menu {
    position: absolute;
    background: #fff;
    width: 186px;
    margin-top: 0px;
    padding: 25px 15px 15px 15px;
    display: none;
    z-index: 5;
}

.molly-sub .sub-menu{
    display:block !important;
}

.menu-main-menu-container .sub-menu li {
    display: block;
    float: left;
    width: 100%;
    text-align:left;
    line-height: 25px;
}



.menu-main-menu-container .sub-menu li a a:after {
    background: #fff !important;
}

.menu-main-menu-container .sub-menu li a {
    border-bottom: 1px solid #ccc;
    color: #000 !important;
    float: left;
    width: 100%;
}

#menu-main-menu .sub-menu a:after {
    background: #fff !important;
}



/*
 *   Scrollbar STYLE
 */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #232325;
}

::-webkit-scrollbar-thumb
{
    background: #333335; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #333335, #232325); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #333335, #232325); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}





/*Button Anime*/

#footer-light .gform_button{
    font-size: 13px !important;
    text-transform: uppercase !important;
    font-weight: 300 !important;
    border: 2px solid #b3971e !important;
    border-radius: 20px !important;
    color: #b3971e !important;
    height: 40px !important;
    line-height: 34px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: transparent !important;
}

#footer-light .gform_button:hover{
    color: #fff !important;
    text-decoration: none;
    background: #b3971e !important;
}

#footer-light .gform_button:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, .7);
  transform: rotate(20deg);
}
#footer-light .gform_button:hover:before {
  left: 220px;
  transition: all .9s;
}

.dark-btn{
	color: #585858 !important;
    border-color: #585858 !important;
}

.dark-btn:hover{
    border-color: #b3971e !important;
}

.white-btn{
    color: #fff !important;
}

.btn-side {
  display: inline-block;
  color: #b3971e;
background: transparent;
width: auto;
  height: 40px;
  line-height: 34px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  border-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  text-transform: uppercase;
      font-weight: 300;
   border: 2px solid #b3971e;
   border-radius: 20px;
}

.btn-side:hover{
	color: #fff !important;
	text-decoration: none;
	background: #b3971e;
}

.btn-side:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, .7);
  transform: rotate(20deg);
}
.btn-side:hover:before {
  left: 220px;
  transition: all .9s;
}
.btn-side {margin-bottom:10px;}

.maky-tt {
    text-align: center;
    width: 100%;
    float: left;
}


.block-btn{
    background: transparent;
}

.button{
  display: inline-block;
  color: #fff;
  background: #000 !important;
  width: auto;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  border-radius: 0px;
  font-weight: 500;
  padding:12px 16px !important;
  font-size: 12px;
  border:none !important;
  border-radius: 0px !important;
}

.btn-white{
	color: #fff !important;
	border-color:#b3971e !important;
}

.btn-white .fa{
	color: #fff;
}


/*
***Cube Units
*/

.cube-unit{
	margin-right: 1%;
	float: left;
	margin-bottom: 14px;
}

.two-cube-unit{
	width: 49.5%;	
	margin-right: 1% !important;
}

.three-cube-unit{
	width: 32.5%;	
}

.four-cube-unit{
	width: 24.2%;	
}
.three-cube-unit:nth-child(3n){
	margin-right: 0px !important;
}
.two-cube-unit:nth-child(2n){
	margin-right: 0px !important;
}
.four-cube-unit:nth-child(4n){
	margin-right: 0px !important;
}


@media (max-width: 900px){
	.three-cube-unit {
	    width: 31% !important;
	}
	.three-cube-unit:nth-child(3n) {
	    margin-right: 2% !important;
	}
	
}

@media (max-width: 800px) {
	.three-cube-unit {
	    width: 49% !important;
	}

	.three-cube-unit:nth-child(2n) {
	    margin-right: 0px;
	}
	.three-cube-unit:nth-child(3n) {
	    margin-right: 1% !important;
	}
}

@media (max-width: 790px){
	.three-cube-unit, .three-cube-unit:nth-child(2n), .three-cube-unit:nth-child(3n) {
        width: 100% !important;
	    margin-right: 0px !important;
	    max-width: 458px;
	    float: none !important;
	    margin: 0 auto !important;
	}
	.two-cube-unit, .two-cube-unit:nth-child(2n) {
    width: 100% !important;
	    margin-right: 0px !important;
	    max-width: 458px;
	    float: none !important;
	    margin: 0 auto !important;
	}
}

@media (max-width: 630px) {
	.three-cube-unit {
	    width: 100% !important;
	}	
}

@media (max-width: 767px) {
	.four-cube-unit {
	    width: 49%;
	}
	.four-cube-unit:nth-child(2n) {
	    margin-right: 0px;
	}
}


/*Hover effects --photo*/
.hovereffecto {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #000;
}

.hovereffecto .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 50px 20px;
}

.hovereffecto img {
	opacity: 0.94;
	display: block;
	position: relative;
	max-width: none;
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.hovereffecto:hover img {
	opacity: 0.6;
	filter: alpha(opacity=40);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffecto:hover .owny-shades{
	opacity: 1 !important;
    width: 100%;
	background:rgba(0,0,0,.4);
}

.ownage{
	width: 100%;
	overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: calc(100% + 20px);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}

.hovereffecto:hover .ownage{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.sevo-white{
	float: left;
	width: 100%;
	padding:20px 5px;
	background-color: #fff;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.swiper-container {
    width: 100% !important;
    height: 100%;
}


.blog-ownage{
	height: 230px;
	width: calc(100% + 0px) !important;
	-webkit-transform: translate3d(0px,0,0) !important;
	transform: translate3d(0px,0,0) !important;
	background-position: top center;
}
.swiper-slide{
	font-size: 14px !important;
}

.kube-unit, .kube-unit p{
	text-align: left;
    float: left;
}

.gantay .kube-unit, .gantay .kube-unit p{
	width:100%;
}

.people-ownage{
	height: 260px;
}
.hovereffecto a{
    margin-top: 0px;
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    z-index: 4;
    position: absolute;
    opacity: 1;
    width: 400px;
    height: 400px;
    float: left;
    left: 0px;
    top: 0px;
}

.hovereffecto:hover a, .hovereffecto:hover p, .hovereffecto:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.owny-shades{
	position: absolute;
	width: 600px;
	height: 800px;
	left: 0px;
	top: 0px;	
	opacity: 0px;
	-webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.modal-body .owny-shades{
    cursor: unset !important;
}

.hovereffecto h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	overflow: hidden;
	padding: 0.5em 0;
	background-color: transparent;
}


.hovereffecto:hover h2:after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffecto p {
	color: #FFF;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.hovereffecto:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*
*** Homepage
*/

h1, .h1 {
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 48px;
    font-weight: 400 !important;
}


h2, .h2 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 400 !important;
    letter-spacing: 0px;
    margin-bottom: 0px;
}

h3, .h3 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 400 !important;
    margin-bottom: 0px;
    letter-spacing: 0px;
}


h4, .h4 {
    font-size: 24px;
    line-height: 22px;
    font-weight: 400 !important;
    letter-spacing: 0px;
}


h5, .h5 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400 !important;
    letter-spacing: 0px;
}


h6, .h6 {
    font-size: 16px;
    line-height: 18px;
}



h1 span, h2 span, h3 span, h4 span, h5 span{
	font-weight: 300;
}


.highlight {
    width: 40px;
    height: 2px;  
    margin-bottom: 20px;
    margin-top: 20px; 
}

.highlight-yellow{
	background: #b3971e;
}


.highlight-white{
	background: #fff;
}

.highlight-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    clear: both;        
}

.highlight-left {   
    float: left;
}

p{
	font-family: 'Montserrat', sans-serif;
}

.footling-body, .footling-body a, .footling-title{
	color: #fff;
}

.footer-unit{
	background: #2c2c2c;
	color: #fff;
	padding-top: 20px;
    padding-bottom: 20px;
}

.copyrite, .copyrite a{
	color: #797979;
	font-size: 10px;
}

.text-right{
	text-align: right;
}

.first-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
.second-footer{
	padding-bottom: 10px;
}
.footling-title span {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}

.footling-body ul {
    padding-left: 0px;
    list-style: none;
}
.footling-body{
	margin-top: 12px;
	font-size: 12px;
}

.footling-body ul li{
	margin-bottom: 4px;
}

.gform_wrapper.gravity-theme .gfield input{
	border-radius: 0px;
}

.footer-newsletter .gform_footer {
    float: left;
    padding: 0px !important;
    margin: 0px !important;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
}

.footer-newsletter form {
    width: 85.5%;
    overflow: visible;
}


.home-section{
    margin-top: 108px;
    min-height: 600px;
}

.hmm-btn{
    margin-top: 40px;
}

.title-wrap p{
    float: left;
    width: 100%;
}


.concise p{
    max-width: 650px;
    float: none;
    margin: 0 auto;
}

.newslin{
    display: inline-block;
    width: 50%;
    float: left;
}

.commlin{
    display: inline-block;
    float: left;
    width: 100%;
}

.newslin-photo{
    min-height: 400px;
    width: 100%;
        background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.commlin-photo{
    min-height: 240px;
    width: 100%;
        background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}


.bondi-left p {
    max-width: 326px;
    float: left;
    width: 100%;
    clear: both;
}

.swiper-slide .home-btns, .newslin-wrap{
    width: 100%;
    float: left;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    overflow: hidden;
}

.swiper-news .swiper-button-prev{
    left: 51%;
}


.bondi-left{
    width: 100%;
    float: right;
    max-width: 360px;
    margin-right: 200px;
}


.condi-left{
    width: 100%;
    float: left;
    max-width: 360px;
}

.condi-left p {
    max-width: 326px;
    float: left;
    width: 100%;
    clear: both;
}

.commlin-logo img {
    max-width: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.commlin-logo{
    text-align: center;
}

.commlin-blurb{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.commlin-btn{
    text-align: center;
    margin-bottom: 20px;
}

.home-options{
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top right;
    margin-bottom: 80px;
}

.home-options .blurb-wrap {
    padding-left: 150px;
    float: left;
    width: 100%;
}
.footling .highlight {
    margin-bottom: 8px;
    margin-top: 8px;
}

.palia-two{
    padding-left: 20px;
}
.palia-one{
    padding-left: 60px;
}

.palia-three {
    margin-left: -20px;
}

.me-join{
    margin-top: 8px;
    float: left;
    background: transparent;
}

.footling-body a:hover{
    color: #fff;
    letter-spacing: .8px;
    text-decoration: none;
}
.footling-body p {
    margin-bottom: 8px;
}

.footling-body .fa{
    float: left;
    margin-right: 6px;
    margin-top: 6px;
}

.testlin-wrap, .testlin-photo-wrap, .testlin-blurb, .testlin-test, .testlin-names {
    width: 100%;
    float: left;
}

.testlin-photo{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.testlin-test{
    color: #fff;
}
